body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding-left: 30px;
    padding-right: 45px;
}

h1 {
    color: #333;
}

h2 {
    color: #555;
}

.subsection {
    margin-left: 20px;
}

img.rounded {
    border-radius: 12px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.indice-container {
    background-color: #f6f3f3b4;
    border: 1px solid #eceaeae1;
    border-radius: 10px;
    padding: 5px;
    margin: 1px 0;
    max-width: 600px;
}

.styled-table {
    border-collapse: collapse;
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    margin: 25px 0 25px 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.6);
}

.styled-table th {
    background-color: rgba(35, 198, 35, 0.697);
    color: white;
    padding: 8px;
    text-align: left;
}

.styled-table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.styled-table tr:nth-child(even) {
    background-color: white;
}

.styled-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.styled-table-pairs {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin: 25px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.6);
}

.styled-table-pairs th {
    background-color: rgba(35, 198, 35, 0.697);
    color: white;
    padding: 8px;
    text-align: left;
}

.styled-table-pairs tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.styled-table-pairs tr:nth-child(even) {
    background-color: white;
}

.styled-table-pairs td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}



.highlight-green {
    background-image: linear-gradient(45deg, transparent 35%, rgba(103, 236, 143, 0.75) 65%);
    background-size: 2px 2px;
}

.highlight-red {
    background-image: linear-gradient(45deg, transparent 35%, rgba(230, 120, 120, 0.75) 65%);
    background-size: 2px 2px;
}
